<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referral Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/user/affiliate.css">
</head>
<body>
    <%- include('../partials/userdashboardnav')%>

    <div class="contentbox">
        <div id="div1">
            <div id="div1box">
                <i class="fa-solid fa-users mainicon"></i>
                 <div id="div1boxinner">
                    <p>Referral Dashboard</p>
                    <span> 
                        <a href="/dashboard"><i class="fas fa-project-diagram"></i></a> <span class="dashspan">/</span> <a href="">Referral Dashboard</a> 
                    </span>
                </div>
            </div>
        </div>

        <div class="flashbox">
            <% if(success && success.length) { %>
                   <div class="flashboxsuccess-alert">
                       <%= success %> 
                       <span class="flashboxsuccess-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                       
                   </div>
               <% } %> 
           
               <% if(error && error.length) { %>
                       <div class="flashboxerror-alert">
                           <%= error %> 
                           <span class="flashboxerror-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                           
                       </div>
               <% } %> 
               
        </div>

        <div id="acctsumbox">
            <div id="btcwidget">
                <%- include('../partials/darkbtcwidget')%>
            </div>
            <div id="inneracctsumbox">
                
                <div class="acctsum">
                    <span>
                        <p>Referral Balance:</p>
                        <% if (user.referralincomes === 0) { %> 
                            <small>$0.00</small>
                        <% } else { %> 
                            <small> $<%= user.referralincomes.toLocaleString() %></small>
                        <% } %> 
                    </span>
                    <span>
                        <p>No of Referrals:</p>
                        <small><%= user.referrals.length %></small>
                    </span>
                    <!-- <span>
                        <p>Account Type:</p>
                        <small class="accttype"><%= user.accountType %></small>
                    </span> -->
                    <form action="/dashboard/referral-dashboard?_method=PUT" class="refboxclasses" method="post" >
                        <button class="btn btn-success mt-3">Transfer Incomes to Wallet</button>
                    </form>
                    
                </div>
    
            </div>
        </div>

        <div id="div2">
            <div id="div2box">
                <p>Refer a Friend</p>
                <div class="div2boxinner">
                    <p>Our Affiliate Program helps our clients to earn from refferring others to join our platform.
                    <br> Every deposit of your referral will bring you a reward in the amount of 10% and $50 for Referral Registration.
                    <br> You would be able to transfer your referral earnings from your referral wallet to your account main wallet.</p>
                </div>
    
                <div class="div2boxinner">
                    <span>Referral Link:</span>
                  
                    <div class="input-group">
                        <input type="text" class="form-control" value="<%=process.env.BASE_URL%>/register/<%= user.id%>" id="copy" readonly>
                        <button class="btn btn-success" onclick="myFunction()">Copy</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="deposithistory">
            <div id="deposithistorybox">
             <p>REFERRAL HISTORY</p>
             <div id="tablecontainer">
                 <table id="historytable">
                     <thead>
                       <tr>
                         <th>S/N</th>
                         <th>First Name</th>
                         <th>Last Name</th>
                       </tr>
                     </thead>
          
                     <tbody>
                        <% if (user.referrals.length > 0) { %> 
                            <% for (let referral of user.referrals) { %> 
                                <tr>
                                    <td><li></td>
                                    <td><%= referral.firstname %></td>
                                    <td><%= referral.lastname %> </td>
                                </tr>
                            <% } %> 
                        
                        <% } else { %>
                            <td colspan="3">You don't have any referral yet. Copy your referral link and share them with your friends and family.</td>
                        <% } %>  
                     </tbody>
                   </table>
             </div>
            </div>
         </div>


       
    
    </div>
    

    <script src="/script/app.js"></script>
</body>
</html>